table.tsn8_myspot_content_wrapper {
	font-size: 11pt;
}

table.tsn8_myspot_content_wrapper td {
	vertical-align: top;
}

td.tsn8_myspot_left_sidebar {
}

td.tsn8_myspot_center_content {
}

td.tsn8_myspot_right_sidebar {
}



/***** BEGIN New Posts Content ******/
.tsn8_myspot_mini_newposts_wrapper {

}

div.tsn8_myspot_stat_wrapper, div.tsn8_myspot_newest_posts_cards_wrapper {
	text-align: justify;
	-ms-text-justify: distribute-all-lines;
	text-justify: distribute-all-lines;
}

div.tsn8_myspot_newest_posts_cards_wrapper {
	display: block;
	max-height: 700px;
	overflow-y: auto;
}

span.tsn8_myspot_newest_post {
	vertical-align: top;
	display: block;

	border: 1px solid #ddd;
	border-radius: 3px;
	box-shadow: 0 1px 2px #ddd;
	padding: 5px;
	margin: 3px 5px;
}

span.tsn8_myspot_module_avatar {
	display: block;
	text-align: center;
	float: left;
	margin: 0 5px;
}

span.tsn8_myspot_newest_post_title {
	display: block;
	padding: 3px; /* 125px 3px 3px;*/
	font-size: 1em;
	text-align: left;
}

span.tsn8_myspot_newest_post_subtitle {
	border-bottom: 1px dotted #d7e3f6;
	font-size: 0.75em;
	color: #587eaa;
	font-style: italic;
	display: block;
	margin-bottom: 5px;
}

span.tsn8_myspot_newest_post_subtitle a {
	color: #587eaa;
	font-style: italic;
}

span.tsn8_myspot_newest_post_message {
	display: block;
	padding: 3px;
	font-size: 0.9em;
	vertical-align: top;
	text-align: left;
	min-height: 40px;
	line-height: 20px;
}

span.tsn8_myspot_no_posts_message {
	display: block;
	text-align: center;
	font-size: 1em;
}

