.tsn8_myspot_content_wrapper {
	/*margin: 0 -0.75em;*/
	/*padding: 0 0.75em;*/
	/*display: block;*/
}

.tsn8_myspot_content_wrapper_column {
	vertical-align: top;
}

.tsn8_myspot_left_sidebar {
	min-width: 275px;
}

.tsn8_myspot_center_content {
	min-width: 500px;
	max-width: 100%;
}

.tsn8_myspot_right_sidebar {
}

.tsn8_module_placeholder {
	background-color: #fff;
	border-radius: 5px;
	padding: 0.5em;
	margin: 0.5em;
	border: 1px solid #d7e3f6;

}

/* BEGIN Mini Profile Content */
.tsn8_myspot_profile_info {
	display: block;
	padding: 3px;
	margin: 3px;
	height: 125px;
	vertical-align: middle;
}

/* END Mini Profile Content */

/* BEGIN Mini Forums Content */
.tsn8_myspot_login_fields {
	font-size: 1em;
	color: #333;
	display: block;
	vertical-align: middle;
	margin: 0 auto;
	width: 75%;
}

.tsn8_mini_forum_list {
	margin-left: 0;
	font-size: 0.9em;
}

.tsn8_mini_forum_list_category,
.tsn8_mini_forum_list_link,
.tsn8_mini_forum_list_forum {
	background: no-repeat 0 2px;
	background-size: 36px 20px;
	list-style: none;
	padding-left: 10px;
	line-height: 25px;
}

.tsn8_mini_forum_list_link,
.tsn8_mini_forum_list_forum,
{
	padding-left: 40px;
	margin-left: 15px;
}

.tsn8_mini_forum_category_name {
	color: #587eaa;
	font-weight: bold;
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
	font-size: 1.2em;
}

.tsn8_mini_forum_forum_name {
	color: #587eaa;
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
	font-size: 1.1em;
}

.tsn8_mini_forum_list_item {
	padding-left: 45px;
	line-height: 35px;
}

/* END Mini Forums content */

/* BEGIN Special Report Content */
.tsn8_module_avatar {
	display: block;
	float: left;
	margin: 0 5px;
	z-index: 1;
}

.tsn8_avatar_right {
	position: absolute;
	right: 5px;
}

.tsn8_myspot_special_report_body {
	color: #333;
	line-height: 20px;
	padding: 3px;
	font-size: 1.1em;
}

/* END Special Report Content */

/* BEGIN New Posts Content */
.tsn8_myspot_mini_newposts_wrapper {

}

.tsn8_stat_wrapper {
	text-align: justify;
	-ms-text-justify: distribute-all-lines;
	text-justify: distribute-all-lines;
}

.tsn8_myspot_newest_post {
	vertical-align: top;
	display: block;

	border: 1px solid #ddd;
	border-radius: 3px;
	box-shadow: 0 1px 2px #ddd;
	padding: 5px;
	margin: 3px 5px;
}

.tsn8_myspot_newest_post_title {
	display: block;
	padding: 3px;
	font-size: 1em;
	text-align: left;
}

.tsn8_myspot_newest_post_subtitle {
	border-bottom: 1px dotted #d7e3f6;
	font-size: 0.75em;
	color: #587eaa;
	font-style: italic;
	display: block;
	margin-bottom: 5px;
}

.tsn8_myspot_newest_post_subtitle a {
	color: #587eaa;
	font-style: italic;
}

.tsn8_myspot_newest_post_message {
	display: block;
	padding: 3px;
	font-size: 0.9em;
	vertical-align: top;
	text-align: left;
	min-height: 40px;
	line-height: 20px;
}

.tsn8_myspot_no_posts_message {
	display: block;
	text-align: center;
	font-size: 1em;
}

/* END New Posts Content */

/* BEGIN Stats Content */
.tsn8_myspot_online_user_avatars {
	display: block;
}

.tsn8_myspot_userstatus_stats_record {
	display: block;
	padding: 3px 5px;
	margin: 0 auto;
}

.tsn8_myspot_userstatus_stats_list {
	list-style: none;
	margin-left: 0;
}

.tsn8_myspot_userstatus_stats_item {
	line-height: 20px;
	text-align: right;
	padding: 0 5px;
}

.tsn8_myspot_userstatus_stats_label {
	display: inline-block;
	float: left;
	text-align: left;
}

.tsn8_myspot_userstatus_stats_record {
	text-align: center;
	display: block;
	padding: 3px 5px;
	margin: 0 auto;
}

/* END Stats Content */