/*
 * Forum Body - board index
 */

a {
	color: #587eaa;
}

a:hover {
	color: #003366;
	text-decoration: none;
}

select {
	font-size: 0.8em;
}

input.button1, input.button2 {
	font-size: 0.85em;
}

.panel {
	background-color: rgba(215, 227, 246, 0.5);
	/*border: 1px solid #d7e3f6;*/
	/*box-shadow: 0 2px 2px #ccc;*/
}

.search-header {
	box-shadow: 0 0 10px #587eaa;
}

.search-header input {
	font-size: 0.8em;
}

.navbar {
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.8);
	border: 1px solid #d7e3f6;
	box-shadow: 0 1px 2px #ccc;
}

ul.navlinks {
	border-top-color: #d7e3f6;
}

.inputbox {
	border: 1px solid #B4BAC0;
}

fieldset.quick-login {
	margin-top: 0;
}

fieldset.quick-login input.inputbox {
	width: 100%;
}

.action-bar {
	font-size: 1em;
	padding-left: 0.25em;
	padding-right: 0.2em;
}

.forabg,
.forumbg {
	background: white none;
}

.forabg .header a,
.forumbg .header a {
	color: #587eaa;
}

.forumbg .header a:hover,
.forabg .header a:hover,
th a:hover {
	color: #003366;
}

li.header dt,
li.header dd {
	text-transform: none;
	font-family: Calibri, "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
	font-weight: normal;
	color: #587eaa;
}

ul.forums {
	background: transparent none;
}

ul.topiclist li {
	color: #587eaa;
}

ul.topiclist dfn {
	left: -1999px;
}

li.row {
	border: 1px solid #fff;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 5px;
}

li.row:hover {
	background-color: #d7e3f6;
	background-color: rgba(215, 227, 246, 0.3);
	border: 1px solid #d7e3f6;
	border-radius: 5px;
}

li.row:hover dd {
	border-left-color: #d7e3f6;
}

dl.icon dt .list-inner {
	padding-left: 50px;
}

a.forumtitle {
	font-family: Calibri, "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 1.3em;
	font-style: normal;
	display: inline-block;
	margin-bottom: 5px;
}

a.forumtitle:hover {
	text-decoration: none;
}

ul.topiclist li.row dt a.subforum {
	display: inline-block;
	padding: 3px 3px 3px 15px;
	border-radius: 5px;
	background-position: 3px 50%;
}

ul.topiclist li.row dt a.subforum:hover {
	background-color: #587eaa;
	color: #fff;
	box-shadow: 0 1px 2px #ccc;
}

/*
 *	View Forum
 */
.bg1 {
	background-color: #fff;
}

.bg2 {
	background-color: #fff;
}

.buttons {
	margin-right: 0.25em;
}

.action-bar .search-box,
.action-bar .topic-tools {
	min-height: 30px;
	padding-left: 0;
	padding-right: 0;
	font-size: 0.8em;
	margin-top: 3px;
	margin-left: 0.25em;
}

.action-bar .dropdown-container {
	margin-top: 3px;
}

.pagination {
	font-size: 1em;
}

.pagination li.active span {
	background-color: #587eaa;
	border-color: #587eaa;
}

.pagination li a {
	background-color: #d7e3f6;
	border-color: #d7e3f6;
}

.pagination li a, .pagination li span {
	border-radius: 5px;
	font-size: 1em;
}

.pagination li a:hover, .pagination .dropdown-visible a.dropdown-trigger, .nojs .pagination .dropdown-container:hover a.dropdown-trigger {
	border-color: #587eaa;
	background-color: #587eaa;
}

.forum-title,
.topic-title,
.posting-title {
	margin: 0;
	border-bottom: 1px solid #d7e3f6;
}

.display-options {
	font-size: 1em;
}

.display-options select {
	border-radius: 5px;
	border-color: #C7C3BF;
}

/*
 *	View Topic
 */
fieldset.polls dt {
	/*width: auto;*/
}

fieldset.polls dd div {
	font-size: 0.75em;
	font-weight: normal;
}

fieldset dl.poll_vote dd.resultbar {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

fieldset.polls dl.poll_total_votes dd.resultbar {
	margin-left: auto;
	margin-right: auto;
	clear: both;
	display: block;
	text-align: center;
	float: inherit;
}

.pollbar1,
.rtl .pollbar1,
.pollbar2,
.rtl .pollbar2,
.pollbar3,
.rtl .pollbar3,
.pollbar4,
.rtl .pollbar4,
.pollbar5,
.rtl .pollbar5 {
	border-radius: 5px;
	background-color: #587eaa;
	border: 0 solid transparent;
	box-shadow: 0 1px 2px #999;
	font-size: 1em;
}

.most-votes .resultbar div {
	background-color: #003366;
}

fieldset.polls dl {
	border-top-color: #fff;
	color: #666666;
}

fieldset.polls dl.voted {
	color: #000000;
}

fieldset.polls dd div {
	color: #FFFFFF;
}

.topic-tools {
	margin-left: 1em;
}

.inner {
	position: relative;
}

.postprofile {
	min-width: 175px;
	/*position: absolute;*/
	text-align: center;
	vertical-align: top;
	/*top: 5px;*/
	/*right: 5px;*/
	float: none;
}

.postprofile dd,
.postprofile dt {
	line-height: normal;
}

.postprofile dd {
	overflow: visible;
}

.avatar-container {
	width: 100%;
	text-align: center;
	vertical-align: middle;
}

.postprofile .avatar {
	float: none;
}

.postprofile .avatar img {
	display: inline-block;
}

.avatar img {
	text-align: center;
}

.has-profile-rank, .no-profile-rank,
.has-avatar, .no-avatar {
	font-size: 1.2em;
}

.profile-contact {
	white-space: nowrap;
	overflow: visible;
	display: inline-block;
	text-overflow: ellipsis;
	line-height: 1.2em;
}

.postbody {
	/*margin-right: 200px;*/
	/*min-height: 220px;*/
	padding: inherit;
	width: 100%;
	float: inherit;
}

.postbody .content {
	font-size: 1em;
	/*padding: 0 5px 1px;*/
}

.has-profile .postbody h3 {
	margin-right: 0;
}

.postbody h3 img {
	vertical-align: middle;
}

.hasjs .postbody .post-buttons {
	max-width: 100%;
	margin: 0 auto 0.5em;
}

.post-buttons > li {
	float: none;
	margin-right: 0;
	display: inline;
}

.has-profile .post-buttons {
	clear: right;
	position: relative;
}

@media only screen and (max-width: 700px), only screen and (max-device-width: 700px) {
	.has-profile .post-buttons {
		right: auto;
		top: auto;
	}
}

.post-buttons {
	float: none;
	margin-top: auto;
	padding-left: 0;
}

.postbody h3.first {
	border-bottom: 1px solid #d7e3f6;
}

/*.postbody h3 {*/
/*margin-left: 5px;*/
/*}*/

p.author {
	/*margin-left: 5px;*/
	font-size: 0.8rem;
}

p.author a {
	font-size: 1em;
}

textarea.inputbox {
	width: auto;
}

/*.online-list h3 {*/
/*margin-top: 0.25em;*/
/*}*/

.online-list p {
	margin-bottom: 0.25em;
}

/* Post Reply */
.tsn8_options_label,
fieldset.fields1 dl dt,
fieldset.fields1 dl dt label {
	width: auto;
	font-size: 1.3rem;
	color: #587eaa;
	margin: 0.25em 0.5em;
	float: none;
	font-weight: normal;
}

.tsn8_options_label {
	line-height: 26px;
	vertical-align: middle;
	display: block;
}

fieldset.fields1 dl dt label {
	margin: 0;
}

fieldset.fields1 dl dd {
	margin-left: 0.5em;
	width: auto;
	display: block;
}

/********* Color Picker **********/
.colorpicker_submit {
	background: transparent url('images/tsn8/check_green.png') no-repeat center center;
	background-size: cover;
	border-radius: 15px;
	cursor: pointer;
}

.colorpicker_focus {
	background-position: center center;
}

/******************** jQuery UI ************************/
.ui-button-text-only .ui-button-text,
input.ui-button {
	padding: 0.25rem 0.5rem;
	width: auto;
}

.ui-selectmenu-button {
	margin-bottom: -0.5em;
}

.ui-selectmenu-button span.ui-icon {
	right: 0.25rem;
}

.ui-selectmenu-button span.ui-selectmenu-text {
	padding: 0.15rem 0.5rem;
	width: auto;
}

.ui-buttonset .ui-button {
	margin-bottom: 0.25em;
	line-height: 20px;
}

#format-buttons {
	margin: 0.25em 0 0.25em 0.5em;
}

#message-box {
	width: 100%;
	padding: 0 0.5em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

#navigation a,
#tabs .tab > a {
	background: #d7e3f6;
	color: #587eaa;
}

#navigation a:hover,
#tabs .tab > a:hover {
	background: #587eaa;
	color: #d7e3f6;
}

#navigation a,
#navigation a:hover {
	/*border-right: 1px solid #587eaa;*/
	border-radius: 5px;
}

#tabs .activetab > a, #tabs .activetab > a:hover {
	background: #d7e3f6;
	background: rgba(215, 227, 246, 0.5);
	/*background: -moz-linear-gradient(top, #E2F2FF 0%, #d7e3ft 50%);*/
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #E2F2FF), color-stop(100%, #CADCEB));*/
	/*background: -webkit-linear-gradient(top, #E2F2FF 0%, #CADCEB 100%);*/
	/*background: -o-linear-gradient(top, #E2F2FF 0%, #CADCEB 100%);*/
	/*background: -ms-linear-gradient(top, #E2F2FF 0%, #CADCEB 100%);*/
	/*background: linear-gradient(to bottom, #E2F2FF 0%, #CADCEB 100%);*/
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E2F2FF', endColorstr='#CADCEB', GradientType=0 );*/
	border-color: #d7e3f6;
	border-bottom: 0;
	box-shadow: 0 1px 1px #F2F9FF inset;
	color: #003366;
}

#navigation #active-subsection a,
#navigation #active-subsection a:hover {
	background: #f9f9f9;
	color: #003366;
	border: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}