/* Global Grid Styles */
@media only screen and (min-width: 30em) and (max-width: 48em) {
	.gml-row {
		margin-left: -0.75em;
		margin-right: -0.75em
	}

	.gml-row:before, .gml-row:after {
		content: "\0020";
		height: 0;
		display: block;
		overflow: hidden
	}

	.gml-row:after {
		clear: both
	}

	.gml-row.gm-rtl .gm-columns {
		float: right
	}

	.gml-columns {
		display: inline;
		float: left;
		padding-left: .75em;
		padding-right: .75em
	}

	.gml-half {
		width: 50%
	}

	.gml-third {
		width: 33.333333333333336%
	}

	.gml-two-thirds {
		width: 66.66666666666667%
	}
}

@media only screen and (max-width: 47.9375em) {
	.gm-row {
		margin-left: -0.75em;
		margin-right: -0.75em
	}

	.gm-row:before, .gm-row:after {
		content: "\0020";
		height: 0;
		display: block;
		overflow: hidden
	}

	.gm-row:after {
		clear: both
	}

	.gm-row.gm-rtl > .gm-columns {
		float: right
	}

	.gm-row.gm-ltr > .gm-columns {
		float: left
	}

	.gm-columns {
		display: inline;
		float: left;
		padding-left: .75em;
		padding-right: .75em
	}

	.gm-1of5 {
		width: 20%
	}

	.gm-half {
		width: 50%
	}

	.gm-third {
		width: 33.333333333333336%
	}

	.gm-quarter {
		width: 25%
	}

	.gm-three-quarters {
		width: 75%
	}

	.gm-two-thirds {
		width: 66.66666666666667%
	}

	.gm-full {
		width: 100%
	}

	.media-object .object.gm-columns {
		margin-right: 0
	}

	.tabs .nav .gm-columns a.is-current:before, .carousel-nav .gm-half a.is-current:before, .tabs .nav .gm-columns a.is-current:after, .carousel-nav .gm-half a.is-current:after {
		display: none
	}
}

@media only screen and (min-width: 48em) and (max-width: 61.9375em) {
	.gt-row {
		margin-left: -1em;
		margin-right: -1em
	}

	.gt-row:before, .gt-row:after {
		content: "\0020";
		height: 0;
		display: block;
		overflow: hidden
	}

	.gt-row:after {
		clear: both
	}

	.gt-row.gt-rtl > .gt-columns {
		float: right
	}

	.gt-row.gt-ltr > .gt-columns {
		float: left
	}

	.gt-columns {
		display: inline;
		float: left;
		padding-left: 1em;
		padding-right: 1em
	}

	.gt-1of9 {
		width: 11.11111111111111%
	}

	.gt-2of9 {
		width: 22.22222222222222%
	}

	.gt-quarter {
		width: 25%
	}

	.gt-3of9, .gt-2of6, .gt-third {
		width: 33.33333333333333%
	}

	.gt-4of9 {
		width: 44.44444444444444%
	}

	.gt-half {
		width: 50%
	}

	.gt-5of9 {
		width: 55.55555555555556%
	}

	.gt-1of5 {
		width: 20%
	}

	.gt-2of5 {
		width: 40%
	}

	.gt-3of5 {
		width: 60%
	}

	.gt-6of9, .gt-4of6, .gt-two-thirds {
		width: 66.66666666666666%
	}

	.gt-1of6 {
		width: 16.666666666666664%
	}

	.gt-three-quarters {
		width: 75%
	}

	.gt-7of9 {
		width: 77.77777777777779%
	}

	.gt-1of7 {
		width: 14.285714285714285%
	}

	.gt-2of7 {
		width: 28.57142857142857%
	}

	.gt-3of7 {
		width: 42.857142857142854%
	}

	.gt-4of7 {
		width: 57.14285714285714%
	}

	.gt-5of7 {
		width: 71.42857142857143%
	}

	.gt-6of7 {
		width: 85.71428571428571%
	}

	.gt-8of9 {
		width: 88.88888888888889%
	}

	.gt-3of8 {
		width: 37.5%
	}

	.gt-5of8 {
		width: 62.5%
	}

	.gt-full {
		width: 100%
	}

	.gt-clear {
		clear: both
	}

	.gt-off-quarter {
		margin-left: 25%
	}
}
