* {
	font-family: Calibri, "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
	position: relative;
}

[class*="gd-"],
[class*="gm-"],
[class*="gt-"],
input, textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin: 0;
	background: #fff url('./images/tsn8/tsnlogo-watermark.png') no-repeat fixed 15% 0;
	background-size: contain;
	overflow-x: hidden;
	min-height: 100%;
}

header, footer, section, nav {
	width: auto;
	padding: 0;
	margin: 0 auto;
	max-width: 1250px;
}

/* BEGIN Header */
.tsn8_header {
	/*padding: 0 0.75em;*/
}

.tsn8_header_fade {
	background: url('./images/tsn8/header-background.png') no-repeat bottom center;
	background-size: contain;
}

.tsn8_header_image {
	background: url('./images/tsn8/header-logotext.png') no-repeat center left;
	background-size: contain;
	max-height: 125px;
	min-height: 50px;
	display: block;
}
li.tsn8_breadcrumb_flush span:first-child > a {
	padding-left: 0;
}

/* END Header */

/* BEGIN Nav */

.tsn8_nav {
	margin-bottom: 0.5em;
}

.tsn8_nav_bottom {
}

/* END Nav */

/* TODO Remove */
.tsn8_wrapper {
	position: relative;
	display: block;
	max-width: 1250px;
	margin: 0 auto;
}

/* BEGIN Footer */
.tsn8_footer {
	background: url('./images/tsn8/footer-background.png') no-repeat top center;
	background-size: contain;
}

/* END Footer */

/* BEGIN Page Content Structure */

.panel,
.tsn8_module {
	display: block;
	position: relative;
	vertical-align: top;
	width: auto;
}

/*.panel,*/
.tsn8_module_container,
.tsn8_module_container_clear,
.tsn8_module_container_med,
.forabg,
.forumbg,
.post {
	border-radius: 5px;
	box-shadow: 0 1px 2px #ccc;
	border: 1px solid #d7e3f6;
	background-color: #fff;
	padding: 5px;
	margin: 5px auto 10px;
}

.tsn8_module_container_clear {
	background-color: transparent;
	border: 1px solid transparent;
	box-shadow: none;
}

.tsn8_module_container_med {
	border: 1px solid #587eaa;
}

h3,
.quickreply-title,
.tsn8_module_header,
.forabg .header,
.forumbg .header {
	display: block;
	font-size: 1.5em;
	color: #587eaa;
	padding: 5px;
	margin-bottom: 5px;
	border-bottom: 1px solid #d7e3f6;
	white-space: nowrap;
	font-weight: normal;
	margin-top: 0;
}

.panel .tsn8_module_header {
	border-color: rgba(88, 126, 170, 0.5);
}

.panel .tsn8_module_footer {
	border-color: rgba(255, 255, 255, 0.5);
}

h3 {
	text-transform: none;
}

.tsn8_module_subheader {
	font-size: 1.5em;
	color: #587eaa;
	margin-bottom: 5px;
	padding: 3px;
	display: block;
	font-weight: bold;
}

.tsn8_module_content {
	padding: 5px;
	font-size: 1em;
	color: #333;
	text-align: left;
}

.tsn8_viewtopic_post_footer, /* TODO Remove this class */
.tsn8_module_footer,
.tsn8_post_footer {
	position: relative;
	border-top: 1px solid #d7e3f6;
	display: block;
	font-size: 0.8em;
	text-align: center;
	padding-top: 3px;
}

.tsn8_viewtopic_meta_container {
	margin: 0 -0.75em;
	padding: 0 0.75em;
}

/* END Page Content Structure */

/* BEGIN Feature Content Structure */
.tsn8_myspot_stat, /* TODO Remove this class */
.tsn8_stat {
	display: inline-block;
	*display: inline;
	zoom: 1;

	min-width: 65px;
	border: 1px solid #d7e3f6;
	padding: 3px;
	margin: 3px;
	border-radius: 5px;
}

.tsn8_myspot_stat_value, /* TODO Remove this class */
.tsn8_stat_value {
	display: block;
	font-size: 1.5em;
	font-weight: bold;
	color: #333;
	text-align: center;
	padding: 5px 0;
}

.tsn8_myspot_stat_header, /* TODO Remove this class */
.tsn8_topic_stat_header, /* TODO Remove this class */
.tsn8_stat_label {
	display: block;
	font-size: 0.9em;
	color: #666;
	text-align: center;
}

/* END Feature Content Structure */

/* BEGIN Icons */
.tsn8_icon,
.tsn8_icon_nohover,
.tsn8_icon_mini,
.tsn8_icon_mini_nohover,
.tsn8_icon_smiley,
.tsn8_icon_large,
.tsn8_icon_large_nohover {
	background-position: center center;
	background-repeat: no-repeat;
	border: 0;
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;
}

.tsn8_icon:hover,
.tsn8_icon_mini:hover,
.tsn8_icon_large:hover {
	box-shadow: 0 1px 2px #aaa;
}

.tsn8_icon,
.tsn8_icon_nohover {
	width: 30px;
	height: 30px;
	background-size: 24px 24px;
	border-radius: 15px;
}

.tsn8_icon_mini,
.tsn8_icon_mini_nohover,
.tsn8_icon_smiley {
	width: 20px;
	height: 20px;
	background-size: 18px 18px;
	border-radius: 9px;
	margin: 0 2px;
}

.tsn8_icon_large {
	width: 48px;
	height: 48px;
	background-size: 40px 40px;
	border-radius: 24px;
}

.tsn8_icon_joined {
	background-image: url('images/tsn8/clock_gray.png');
}

.tsn8_icon_joined:hover {
	background-image: url('images/tsn8/clock_color.png');
}

.tsn8_icon_geo {
	background-image: url('images/tsn8/geo_gray.png');
}

.tsn8_icon_geo:hover {
	background-image: url('images/tsn8/geo.png');
}

.tsn8_icon_online {
	background-image: url('images/tsn8/chat.png');
	background-color: #006600;
	border-radius: 15px;
}

.tsn8_icon_offline {
	background-image: url('images/tsn8/chat.png');
	background-color: #ccc;
	border-radius: 15px;
}

.tsn8_icon_profile {
	background-image: url('images/tsn8/profile_gray.png');
}

.tsn8_icon_profile:hover {
	background-image: url('images/tsn8/profile.png');
}

.tsn8_icon_email {
	background-image: url('images/tsn8/email.png');
}

.tsn8_icon_subscribe {
	background-image: url('images/tsn8/subscribe.png');
}

.tsn8_icon_bookmark {
	background-image: url('images/tsn8/reminder.png');
}

.tsn8_icon_print {
	background-image: url('images/tsn8/print.png');
}

.tsn8_icon_attach {
	background-image: url('images/tsn8/attach.png');
}

.tsn8_icon_bump {
	background-image: url('images/tsn8/bump.png');
}

.tsn8_icon_newtopic {
	background-image: url('images/tsn8/add_large.png');
}

.tsn8_icon_addreply {
	/*background-image: url('images/tsn8/reply_large.png');*/
	background-image: url('images/tsn8/compose_large.png');
}

.tsn8_icon_report {
	background-image: url('images/tsn8/spam.png');
}

.tsn8_icon_info {
	background-image: url('images/tsn8/help.png');
}

.tsn8_icon_top {
	background-image: url('images/tsn8/top_large.png');
}

.tsn8_icon_quote {
	background-image: url('images/tsn8/quote_large.png');
}

.tsn8_icon_edit {
	background-image: url('images/tsn8/compose_large.png');
}

.tsn8_icon_warn {
	background-image: url('images/tsn8/warn.png');
}

.tsn8_icon_trash {
	background-image: url('images/tsn8/trash_gray.png');
}

.tsn8_icon_markall {
	background-image: url('./images/tsn8/mark_all_read.png');
}

.tsn8_icon_lastpost {
	background-image: url('images/tsn8/lastpost.png');
}

.tsn8_icon_previous {
	background-image: url('images/tsn8/previous.png');
}

.tsn8_icon_next {
	background-image: url('images/tsn8/next.png');
}

.tsn8_icon_send {
	background-image: url('images/tsn8/send.png');
}

.tsn8_icon_search {
	background-image: url('images/tsn8/search.png');
}

.tsn8_icon_emoticon {
	background-image: url('images/icon_smile.gif');
	background-size: 15px 15px;
	height: 15px;
}

.tsn8_icon_check {
	background-image: url('images/tsn8/check_green.png');
}

.tsn8_icon_x {
	background-image: url('images/tsn8/close_white.png');
	background-color: #660000;
}

.tsn8_icon_format_toolbar {
	background-image: url('images/tsn8/html_editor.png');
	background-position-y: 0;
}

.tsn8_icon_tsn {
	background-image: url('images/tsn8/tsn_logo.png');
}

.tsn8_icon_lock {
	background-image: url('images/tsn8/lock_large.png');
	background-color: #660000;
}

.tsn8_icon_bold {
	background-position-x: 0;
}

.tsn8_icon_italic {
	background-position-x: -21px;
}

.tsn8_icon_underline {
	background-position-x: -42px;
}

.tsn8_icon_quotepost {
	background-position-x: -252px;
}

.tsn8_icon_code {
	background-position-x: -399px;
}

.tsn8_icon_fontcolor {
	background-position-x: -105px;
}

.tsn8_icon_ul {
	background-position-x: -189px;
}

.tsn8_icon_ol {
	background-position-x: -168px;
}

.tsn8_icon_li {
	background-position-x: -420px;
}

.tsn8_icon_img {
	background-position-x: -378px;
}

.tsn8_icon_link {
	background-position-x: -147px;
}

.tsn8_icon_flash {
	background-position-x: -441px;
}

.tsn8_icon_fontsize {
	background-position-x: -84px;
}

.tsn8_icon_newtopic,
.tsn8_icon_addreply,
.tsn8_icon_large:hover {
	background-color: #003366;
}

.tsn8_icon_quote,
.tsn8_icon_edit,
.tsn8_icon_search,
.tsn8_icon:hover {
	background-color: #d7e3f6;
}

.tsn8_icon_newtopic:hover,
.tsn8_icon_addreply:hover,
.tsn8_icon_quote:hover,
.tsn8_icon_edit:hover,
.tsn8_icon_search:hover {
	background-color: #587eaa;
}

.tsn8_icon_mini:hover,
.tsn8_icon_smiley:hover {
	background-color: #e9e9e9;
}

.tsn8_icon_sprite {
	background-size: auto;
	background-repeat: no-repeat;
}

.tsn8_icon_smiley {
	padding: 2px;
	margin: 3px;
	border-radius: 5px;
	display: inline-block;
	text-align: center;
	width: auto;
	height: auto;
	background: no-repeat center center;
}

.tsn8_icon_smiley img {
	vertical-align: middle;
	text-align: center;
}

.tsn8_icon_smiley:hover {
	box-shadow: 0 1px 2px #999;
}

.tsn8_icon_toolbar {

}

/* END Icons */

/* BEGIN Container Styles */
.tsn8_float_right {
	/*margin-left: auto;*/
	/*margin-right: 0;*/
	float: right;
}

.tsn8_float_left {
	/*margin-left: 0;*/
	/*margin-right: auto;*/
	float: left;
}

.tsn8_float_center {
	margin-left: auto;
	margin-right: auto;
	clear: both;
}

.tsn8_overflow_height_700 {
	max-height: 700px;
	overflow-y: auto;
}

.tsn8_border_right {
	border-right: 1px solid;
}

.tsn8_border_light {
	border-color: #d7e3f6;
}

.tsn8_border_med {
	border-color: #587eaa;
}

.tsn8_border_dark {
	border-color: #003366;
}

.align_left {
	text-align: left;
}

.align_center {
	text-align: center;
}

.align_right {
	text-align: right;
}

.tsn8_width_10 {
	width: 10%;
}

.tsn8_width_15 {
	max-width: 15%;
}

.tsn8_width_20 {
	width: 20%;
}

.tsn8_width_25 {
	width: 25%;
}

.tsn8_width_33 {
	width: 33.3333333333334%;
}

.tsn8_width_50 {
	width: 50%;
}

.tsn8_width_60 {
	width: 60%;
}

.tsn8_width_66 {
	width: 66.6666666666667%;
}

.tsn8_width_75 {
	width: 75%;
}

.tsn8_width_85 {
	width: 85%;
}

.tsn8_width_100 {
	width: 100%;
}

.tsn8_width_10,
.tsn8_width_15,
.tsn8_width_20,
.tsn8_width_25,
.tsn8_width_33,
.tsn8_width_50,
.tsn8_width_60,
.tsn8_width_66,
.tsn8_width_75,
.tsn8_width_85,
.tsn8_width_100 {

}

.tsn8_pad_right_120 {
	padding-right: 120px;
}

/* END Container Styles */

/* BEGIN Text Styling */

.tsn8_error_message {
	border-radius: 5px;
	background-color: lightcoral;
	color: darkred;
	border: 1px solid darkred;
	padding: 3px;
	display: block;
	max-width: 200px;
	margin: 5px auto;
}

.tsn8_font_color_light {
	color: #d7e3f6;
}

.tsn8_font_color_med {
	color: #587eaa;
}

.tsn8_font_color_dark {
	color: #003366;
}

.stretch {
	width: 100%;
	display: inline-block;
	font-size: 0;
	line-height: 0
}

/* BEGIN Input Styling */
input.button1,
input.button2,
.tsn8_button {
	padding-left: 0.5em;
	padding-right: 0.5em;
	border-radius: 0.25em;
	box-shadow: 0 1px 2px #999;
	background: #d7e3f6;
	color: #587eaa;
	text-align: center;
	border: 0;
	font-size: 1em;
	height: 1.5em;
	vertical-align: middle;
	font-weight: normal;
}

input.button1:hover,
input.button2:hover,
.tsn8_button:hover {
	background: #587eaa;
	color: #003366;
	border: 0;
}

hr.divider {
	width: 75%;
	margin: 0.25em auto;
	color: #587eaa;
	display: block;
}

/* Forum Body Modification Styles */
.tsn8_last_post_author_avatar {
	height: 100%;
	float: left;
}

.tsn8_last_post_author_avatar img {
	vertical-align: middle;
	margin-right: 5px;
}

.tsn8_last_post_author_avatar a {
	/*line-height: 25px;*/
}

.lastpost .tsn8_last_post_author_info {
	margin-left: -30px;
	padding-left: 65px;
}

/* View Topic Modification Styles */
.tsn8_viewtopic_authorcard_icons {
	height: 30px;
	margin: 5px auto;
	text-align: center;
	display: block;
}

/* Input Styles */
input,
textarea,
label {
	font-family: Calibri, "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
}

input[type="radio"] {
	box-shadow: none;
}

.tsn8_input_wrapper {
	margin: 0 -0.75em;
	padding: 5px 0.75em;
}

.tsn8_input_label {
	color: #587eaa;
	font-size: 1.1em;
	line-height: 1.2em;
	padding: 3px 5px;
	width: auto;
	vertical-align: middle;
}

.tsn8_input_text {
	border: 1px solid #ccc;
	font-size: 1.1em;
	line-height: 1.2em;
	padding: 3px;
	border-radius: 5px;
}

.tsn8_input_textarea {
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 1em;
	max-height: 9em;
}

.tsn8_input_text:hover,
.tsn8_input_textarea:hover {
	border: 1px solid #587eaa;
}

/* Sizing overrides for Inputs */
.ui-widget {
	font-size: 1em;
	font-weight: normal;
	font-family: Calibri, "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;

}

.tsn8_input_subject {
	font-size: 1.3em;
	font-weight: bold;
	line-height: 1.5em;
}

/* Create Post Page */
.tsn8_information_message {
	border-radius: 5px;
	border: 1px solid #d7e3f6;
	background-color: #d7e3f6;
	background-color: rgba(215, 227, 246, 0.3);
	padding: 0.25em;
	margin: 0.25em;
}

.tsn8_information_message h3 {
	border-bottom: 1px solid #587eaa;
	color: #003366;
	/*text-transform: capitalize;*/
}

.tsn8_information_message h3,
.tsn8_information_message p {
	margin: 0.25em;
}

.tsn8_smiley_toolbar_container {
	position: relative;
}

.tsn8_newpost_smiley_wrapper {
	position: absolute;
	top: 1.7em;
	right: 0;
	z-index: 100;
	border-radius: 3px;
	border: 1px solid #ccc;
	box-shadow: 0 1px 2px #ccc;
	background-color: #fff;
	width: 300px;
	text-align: center;
	font-size: 0.9em;
	padding: 5px;
}

.tsn8_ui-inline-icon {
	display: inline-block;
}

/* profile page */
.tsn8_profile_mobile_avatar_background,
.tsn8_profile_avatar_background {
	position: relative;
	height: 25px;
	margin: 50px auto 43px;
	border-radius: 15px;
	box-shadow: 0 1px 2px #aaa;
	width: 100%;
}

.tsn8_profile_mobile_avatar_background {
	width: 75%;
}

.tsn8_profile_avatar_container {
	margin-top: -43px;
}

.tsn8_profile_avatar {
	padding: 5px;
	margin: 0 auto;

	white-space: nowrap;
	text-align: center;
}

.tsn8_profile_avatar {
	background-color: #fff;
	box-shadow: 0 1px 2px #aaa;
	width: 100px;
	height: 100px;
	border-radius: 0.5em;
}

.tsn8_profile_avatar_helper {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.tsn8_profile_avatar img {
	vertical-align: middle;
	border-radius: 5px;
	max-height: 100px;
	max-width: 100px;
}

.tsn8_profile_nameplate {
	background: #fff;
	background: rgba(255, 255, 255, 0.9);
	border-radius: 10px;
	box-shadow: 0 1px 2px #aaa;
	height: 80px;
	width: 75%;
	margin: -28px auto 0;
}

.tsn8_profile_nameplate_name {
	font-size: 1.7em;
	line-height: 40px;
	vertical-align: middle;
	display: block;
	width: 80%;
	border-bottom: 1px solid #003366;
	margin: 0 auto;
	font-weight: bold;
}

.tsn8_profile_nameplate_title {
	display: block;
	margin-bottom: 0.5em;
	font-size: 1.2em;
	color: #333;
	line-height: 40px;
	vertical-align: middle;
}

.tsn8_profile_admin_controls {
	margin-bottom: 0.5em;
}

.tsn8_profile_data_container {
	display: table;
}

.tsn8_profile_data_icon {
	float: left;
	margin: 0.25em 1em 0.25em 0.5em;
	height: 32px;
	width: 32px;
	display: table-cell;
	content: " ";
}

a.tsn8_profile_data_icon:hover {
	box-shadow: 0 0 3px #64c4ff;
	border-radius: 5px;
}

.tsn8_profile_data_large,
.tsn8_profile_data,
.tsn8_profile_data_small,
.tsn8_profile_data_nowrap {
	font-size: 1rem;
	margin: 0.25em;
	min-height: 32px;
	vertical-align: middle;
	display: table-cell;
}
.tsn8_profile_data_small {
	font-size: 0.85rem;
}
.tsn8_profile_data_nowrap {
	white-space: nowrap;
	padding-top: 0.5em;
}

.tsn8_profile_data_large {
	font-size: 1.3rem;
}

.tsn8_profile_icon_container {
	text-align: center;
}

.tsn8_profile_icon {
	display: inline-block;
	width: 32px;
	height: 32px;
	margin: 0.25em;
	float: none;
	text-align: center;
}

.tsn8_profile_icon_phpbb_website {
	background: url('images/tsn8/profile_mouse.png') no-repeat center center;
}

.tsn8_profile_icon_phpbb_twitter {
	background: url('images/tsn8/profile_twitter.png') no-repeat center center;
}

.tsn8_profile_icon_phpbb_facebook {
	background: url('images/tsn8/profile_facebook.png') no-repeat center center;
}

.tsn8_profile_icon_phpbb_googleplus {
	background: url('images/tsn8/profile_googleplus.png') no-repeat center center;
}

.tsn8_profile_icon_phpbb_skype {
	background: url('images/tsn8/profile_skype.png') no-repeat center center;
}

.tsn8_profile_icon_phpbb_youtube {
	background: url('images/tsn8/profile_youtube.png') no-repeat center center;
}

.tsn8_profile_icon_phpbb_yahoo {
	background: url('images/tsn8/profile_flickr.png') no-repeat center center;
}

.tsn8_profile_icon_phpbb_email {
	background: url('images/tsn8/profile_email.png') no-repeat center center;
}

.tsn8_profile_icon_phpbb_pm {
	background: url('images/tsn8/profile_pm.png') no-repeat center center;
}

.tsn8_profile_icon_phpbb_calendar {
	background: url('images/tsn8/profile_calendar.png') no-repeat center center;
}

.tsn8_profile_icon_phpbb_groups {
	background: url('images/tsn8/profile_groups.png') no-repeat center center;
}

.tsn8_profile_icon_phpbb_interests {
	background: url('images/tsn8/profile_interests.png') no-repeat center center;
}

.tsn8_profile_icon_phpbb_occupation {
	background: url('images/tsn8/profile_occupation.png') no-repeat center center;
}

.tsn8_profile_icon_phpbb_location {
	background: url('images/tsn8/profile_location.png') no-repeat center center;
}
.tsn8_profile_icon_phpbb_add_friend {
	background: url('images/tsn8/profile_add_friend.png') no-repeat center center;
}
.tsn8_profile_icon_phpbb_remove_friend {
	background: url('images/tsn8/profile_remove_friend.png') no-repeat center center;
}
.tsn8_profile_icon_phpbb_add_foe {
	background: url('images/tsn8/profile_add_foe.png') no-repeat center center;
}
.tsn8_profile_icon_phpbb_remove_foe {
	background: url('images/tsn8/profile_remove_foe.png') no-repeat center center;
}
.tsn8_profile_icon_phpbb_inactive_user {
	background: url('images/tsn8/profile_inactiveuser.png') no-repeat center center;
}
.tsn8_profile_icon_phpbb_posts {
	background: url('images/tsn8/profile_posts.png') no-repeat center center;
}
.tsn8_profile_icon_phpbb_last_seen {
	background: url('images/tsn8/profile_last_seen.png') no-repeat center center;
}
.tsn8_profile_icon_phpbb_joined {
	background: url('images/tsn8/profile_register.png') no-repeat center center;
}
.tsn8_profile_icon_phpbb_forum {
	background: url('images/tsn8/profile_forum.png') no-repeat center center;
}
.tsn8_profile_icon_phpbb_topic {
	background: url('images/tsn8/profile_topic.png') no-repeat center center;
}
.tsn8_profile_icon_phpbb_warning {
	background: url('images/tsn8/profile_warning.png') no-repeat center center;
}



/* Member List */
.tsn8_memberlist_username {
	line-height: 1.4em;
	font-size: 1.3em;
	vertical-align: middle;
	display: block;
	text-align: center;
	border-bottom: 1px solid #587eaa;
	margin: 0.125em 0.25em;
	width: auto;
}

.tsn8_memberlist_usertitle {
	line-height: 1.1em;
	font-size: 1em;
	vertical-align: middle;
	display: block;
	text-align: center;
	margin: 0.125em 0.25em;
	width: auto;
}

.tsn8_memberlist_postcount {
	line-height: 1.3em;
	font-size: 1.2em;
	vertical-align: middle;
	text-align: center;
	display: block;
	margin: 0.125em 0.25em;
	width: auto;
}