<div class="tsn8_module_container">
	<div>
		<span class="tsn8_module_avatar tsn8_avatar_right">{I_AVATAR_IMG}</span>
		<span class="tsn8_module_header">{L_TSNSPECIALREPORT}</span>
	</div>
	<div class="tsn8_module_content tsn8_pad_right_120">
		<p>
			<a href="{U_HEADLINE}" class="tsn8_module_subheader">"{L_HEADLINE}"</a>
		</p>

		<p class="tsn8_myspot_special_report_body">
			{L_POST_BODY} <strong><a href="{U_CONTINUE_READING}">{L_CONTINUE_READING}...</a></strong>
		</p>
	</div>
	<span class="tsn8_module_footer">
		{L_POSTED_BY}: <a href="{U_USER_PROFILE}">{L_POST_AUTHOR}</a> {L_ON} {L_POST_DATE}
		<br/>
		{L_POST_META}
	</span>
</div>