<!-- INCLUDE myspot_header.html -->

<div class="tsn8_myspot_content_wrapper gm-row gt-row gd-row">
	<div class="gm-columns gt-columns gd-columns gm-full gt-third gd-2of7">
		<div class="tsn8_myspot_content_wrapper_column">
			<!-- IF S_USER_LOGGED_IN -->
			<!-- IF S_ALLOW_MINI_PROFILE -->
			<div id="divMiniProfile" class="tsn8_module">
				<p class="tsn8_module_placeholder align_center">Loading Profile...<br/>
					<img src="{T_THEME_PATH}/images/tsn8/ajax-loader.gif"/>
				</p>
			</div>
			<!-- ENDIF -->
			<input type="hidden" id="login_status" value="1"/>
			<input type="hidden" id="login_userid" value="{S_USER_ID}"/>
			<!-- ELSE -->
			<input type="hidden" id="login_status" value="0"/>
			<input type="hidden" id="login_userid" value="0"/>
			<!-- ENDIF -->
			<!-- IF S_ALLOW_MINI_FORUMS -->
			<div id="divMiniForumIndex" class="tsn8_module">
				<p class="tsn8_module_placeholder align_center">Loading Forums...<br/>
					<img src="{T_THEME_PATH}/images/tsn8/ajax-loader.gif"/>
				</p>
			</div>
			<!-- ENDIF -->
		</div>
	</div>
	<div class="gm-columns gt-columns gd-columns gm-full gt-two-thirds gd-4of7">
		<div class="tsn8_myspot_content_wrapper_column ">
			<!-- IF S_ALLOW_SPECIAL_REPORT -->
			<div id="divSpecialReport" class="tsn8_module">
				<p class="tsn8_module_placeholder align_center">Loading tsn Special Report...<br/>
					<img src="{T_THEME_PATH}/images/tsn8/ajax-loader.gif"/>
				</p>
			</div>
			<!-- ENDIF -->
			<!-- IF S_ALLOW_NEW_POSTS -->
			<div id="divNewPosts" class="tsn8_module">
				<p class="tsn8_module_placeholder align_center">Loading the new posts since your last visit...<br/>
					<img src="{T_THEME_PATH}/images/tsn8/ajax-loader.gif"/>
				</p>
			</div>
			<!-- ENDIF -->
		</div>
	</div>
	<div class="gm-columns gt-columns gd-columns gm-full gt-two-thirds gd-1of7">
		<div class="tsn8_myspot_content_wrapper_column">
			<div id="divForumStats" class="tsn8_module">
				<!-- INCLUDE modules/myspot_stats.html -->
			</div>
		</div>
	</div>
</div>

<!-- INCLUDE myspot_footer.html -->
